canvas#lineChart.chartjs-render-monitor{
    background: rgb(255, 255, 255);
    display: block !important;
    width: 100% !important;
    height: 258px !important;
    padding: 20px;
    margin-bottom: 20px;
}