<div class="p-4 pl-5 ml-4" style="width: 100vw; heigth: 100vh;">
  <button [routerLink]="['/home-adm']" class="btn-back-performance light-blue mb-4" (click)="open(content)"><img src="assets/imgs/icons/ic_seta-azul.svg">
    Voltar</button>
  <h5 class="light-blue" style="margin-left: -15px;"><img src="assets/imgs/icons/ic_cadastro_vendedor.svg"> CADASTRAR NOVO VENDEDOR</h5>
<form>
    <div class="form-group text-center">
      <div class="row pt-3">
        <div class="col-xs-12 col-md-3 col-lg-2 text-center">
          <img src="assets/imgs/icons/ic_avatar.svg" class="w-75 d-none d-md-block img-profile">  
          <img src="assets/imgs/icons/ic_avatar.svg" class="w-50 d-block d-md-none img-profile">
          <span class="img-profile-text red"><u>Inserir Foto</u></span>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-3 text-center">
          <form>
            <div class="form-group text-left form-modal">
              <label for="name" class="text-uppercase label-form dark-blue">Nome</label><br />
              <input id="name" type="text" class="form-control w-100" placeholder="Lucas de Alencar Félix Vilela">
              <label for="name" class="text-uppercase label-form dark-blue mt-4" placeholder="(31)98541-7452">Telefone</label><br />
              <input id="name" type="text" class="form-control w-100">
              <label for="name" class="text-uppercase label-form dark-blue mt-4">E-mail</label><br />
              <input id="name" type="text" class="form-control w-100"
                placeholder="lucas.vilela@parceirosec.com.br">
              <label for="name" class="text-uppercase label-form dark-blue mt-4">Status</label><br />
              <select style="width: 100%; height: 35px;">
                <option value="">Ativo</option>
              </select>
            </div>
          </form>
        </div>
        <div class="col-xs-12 col-md-9 col-lg-3 text-center">
          <form>
            <div class="form-group text-left form-modal">
              <label for="name" class="text-uppercase label-form dark-blue">Data de nascimento</label><br />
              <input id="name" type="text" class="form-control w-100" placeholder="Lucas de Alencar Félix Vilela">
              <label for="name" class="text-uppercase label-form dark-blue mt-4">CPF</label><br />
              <input id="name" type="text" class="form-control w-100"
              placeholder="12345678910">
              <label for="name" class="text-uppercase label-form dark-blue mt-4" placeholder="Loja eletrosom - Barbacena">Rede</label><br />
              <input id="name" type="text" class="form-control w-100">
            </div>
          </form>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="buttons">
  <button class="btn button-footer text-uppercase" (click)="enter()" style="border: 2px solid #333f65;">Cancelar</button>
  <button class="btn bg-yellow ml-2 button-footer text-uppercase">Salvar</button>
</div>


<!-- MODAL HOME -->


<ng-template #content let-modal class="bg-yellow">
    <div class="modal-body text-center p-4">
      <form>
        <div class="form-group">
          <img src="assets/imgs/icons/ic_inicio_azul.svg" class="icon-modal bg-yellow p-2">
          <h5 class="light-blue">Deseja voltar para a página inicial?</h5>
        </div>
      </form>
      <button class="bg-yellow btn-cancel-modal btn-enter light-blue mt-3 m-2 btn-logout text-uppercase"
        (click)="enter()">Cancelar</button>
      <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()">Sair</button>
    </div>
  </ng-template>