.img-profile-text{
    font-size: 13px;
    margin-left: -55px;
}

h5{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

body{
    background: red !important;
}

.button-footer{
    border-radius: 30px !important;
    width: 150px !important;
    color: #4478a7 !important;
}

.btn-cancel-modal{
    border: 2px solid #fff;
}