<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="cpf">CPF</label>
          <input type="text" class="form-control cpf-mask" placeholder="Ex.: 000.000.000-00">
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="name">NOME COMPLETO</label>
          <input name="name" type="text" class="form-control" placeholder="">
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="form-group">
          <label class="gray">SEXO</label>
          <div class="row">
            <div class="col-xs-6 col-lg-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="female">
                <label class="form-check-label" for="female">Feminino</label>
              </div>
            </div>
            <div class="col-xs-6 col-lg-4">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="male">
                <label class="form-check-label" for="male">Masculino</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray"></label>
          <input type="text" class="form-control" placeholder="NOME COMPLETO DO PAI OU DA MÃE">
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray"></label>
          <input type="e-mail" class="form-control" placeholder="E-MAIL">
        </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="form-group">
          <label class="gray"></label>
          <input type="text" class="form-control phone-mask" placeholder="TELEFONE">
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray"></label>
          <label class="gray d-block d-md-none">DATA DE NASCIMENTO</label>
          <input type="text" class="form-control" placeholder="DATA DE NASCIMENTO">
        </div>
      </div>
      <div class="col-xs-12 col-lg-4">
        <div class="form-group">
          <label class="gray"></label>
          <input type="text" class="form-control" placeholder="COMO GOSTARIA DE SER CHAMADO?">
          <!-- <div class="row names">
            <div class="col-xs-12 col-lg-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="first-name">
                <label class="form-check-label" for="first-name">Sr Lucas</label>
              </div>
            </div>
            <div class="col-xs-12 col-lg-3">
              <div class="form-check form-check-inline option-name">
                <input class="form-check-input" type="radio" name="answer" value="" id="after-name">
                <label class="form-check-label" for="after-name">Sr Vilela</label>
              </div>
            </div>
            <div class="col-xs-12 col-lg-6">
              <div class="form-check form-check-inline other-div" style="margin-top: -5px">
                <input class="form-check-input" type="radio" name="answer" value="" id="other">
                <input type="text" class="other" placeholder="OUTRO">
              </div>
            </div>
          </div> -->
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray"></label>
          <select>
            <option value="">PAÍS ONDE NASCEU</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray"></label>
          <select>
            <option value="">ESTADO</option>
          </select>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="form-group">
          <label class="gray"></label>
          <select>
            <option value="">CIDADE</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray"></label>
          <input type="text" class="form-control" placeholder="PROFISSÃO">
        </div>
      </div>
      <div class="col-xs-12 col-lg-3 mr-4">
        <select>
          <option value="">ESTADO CIVIL</option>
        </select>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="form-group">
          <label class="gray"></label>
          <input type="text" class="form-control" placeholder="NOME DO CÔNJUGE">
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-3 mr-4">
        <div class="form-group">
          <label class="gray">É UMA PESSOA EXPOSTA PUBLICAMENTE?</label>
          <div class="row public">
            <div class="col col-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="feminino">
                <label class="form-check-label" for="feminino">SIM</label>
              </div>
            </div>
            <div class="col col-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="masculino">
                <label class="form-check-label" for="masculino">NÃO</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="form-group">
          <label class="gray">É CIDADÃO AMERICANO?</label>
          <div class="row check">
            <div class="col col-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="yes">
                <label class="form-check-label" for="yes">SIM</label>
              </div>
            </div>
            <div class="col col-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="not">
                <label class="form-check-label" for="not">NÃO</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-lg-3">
        <div class="form-group">
          <label class="gray">RESIDE NO EXTERIOR?</label>
          <div class="row check">
            <div class="col col-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="yes2">
                <label class="form-check-label" for="yes2">SIM</label>
              </div>
            </div>
            <div class="col col-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="not2">
                <label class="form-check-label" for="not2">NÃO</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="buttons">
  <button class="btn bg-light-blue button-footer" [routerLink]="['/home']" (click)="toggleSidebarOff()">Voltar</button>
  <button class="btn bg-yellow ml-2 button-footer" (click)="open(content)">Avançar</button>
</div>

<!----- MODAL ----->

<ng-template #content let-modal class="bg-yellow">
  <div class="modal-body text-center p-4">
    <form>
      <div class="form-group">
        <img src="assets/imgs/im_sms.svg" class="icon-modal p-2">
        <h4 class="light-blue">Qual o código recebido por SMS?</h4>
        <p>
          Insira o código recebido pelo usuário abaixo
        </p>
        <input type="password" id="code" class="light-blue mt-3">
      </div>
    </form>
    <button class="bg-light-blue btn-enter yellow mb-3 btn-modal" [routerLink]="['/address-data']"
      (click)="enter()">AVANÇAR</button><br />
    <span class="light-blue code-sms">Reenviar código SMS</span>
  </div>
</ng-template>