.icon-modal {
  margin-top: -115px !important;
  width: 95px !important;
}

.other{
    border: 1px solid lightgray;
    border-radius: 5px !important;
    text-indent: 5px;
    width: 80%;
    padding-bottom: 5px;
    /* height: calc(1.5em + .75rem + 2px);
    margin-top: -15px; */
}

.cpf, .name{
    color: #6ec3e2;
}

@media(min-width: 1440px){
    .other-div{
        margin-left: -180px;
    }

    .option-name{
        margin-left: -90px;
    }
}


select{
    width: 100%;
    height: 38px;
    margin-top: 25px;
    font-weight: bold;
    border-radius: 5px;
}

@media (max-width: 800px){
    select{
        margin-bottom: 20px;
    }
}

@media (min-width: 600px){
    form{
        padding: 20px;
    }

    .check{
        margin-top: 20px;
    }
}

@media (min-width: 1570px){
    .public{
        margin-top: 20px;
    }
}

::-webkit-input-placeholder{
    font-size: 11px;
    font-weight: bold;
}

form{
    width: 100%;
}

.icon-modal{
    margin-top: -93px;
    width: 85px;
    border-radius: 0px !important;
}

h4{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

.btn-enter{
    border-radius: 30px;
    width: 180px;
    height: 45px;
}

#code{
    width: 30% !important;
    background: rgba(255,255,255,0.3);
    border: none;
    height: 50px;
    font-size: 50px;
}
