.documents{
    margin-left: -30px;
}

@media (min-width: 700px){
    .container-fluid{
        margin-left: 20px;
    }
}

@media (max-width: 800px){
    .form-control{
        width: 90%;
    }

    .documents{
        padding: 10px;
    }
}

.name-img{
  font-size: 12px;
}

button{
    background: none;
    border: none;
}

.img-doc{
    border: 1px solid gray;
    border-radius: 10px;
    height: 200px;
    width: 140px;
}

.icon-close{
    width: 15px;
}

.icon-info{
  width: 40px;
  position: absolute;
  right: -1.2%;
  /* top: 0px; */
}

::-webkit-input-placeholder{
  font-size: 11px;
  font-weight: bold;
}

label{
  font-size: 13px;
}
