<div class="container-fluid">
  <div class="row documents mt-3">
    <div class="col-xs-12 col-md-6 col-lg-3 text-center">
      <button mat-button><img src="assets/imgs/anexar_documento_frente.png" class="img-fluid"></button><br />
      <img src="assets/imgs/icons/ic_clip.svg"> <span class="name-img pl-1">nome-da-imagem.jpeg</span> <img src="assets/imgs/icons/close.svg"
        class="icon-close pl-1">
      <div>
        <img src="assets/imgs/im_identidade.png" class="img-doc img-fluid mt-3">
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-3 text-center">
      <button mat-button><img src="assets/imgs/anexar_documento_verso.png" class="img-fluid"></button><br />
      <img src="assets/imgs/icons/ic_clip.svg"> <span class="name-img pl-1">nome-da-imagem.jpeg</span> <img src="assets/imgs/icons/close.svg"
        class="icon-close pl-1">
      <div>
        <img src="assets/imgs/im_identidade.png" class="img-doc img-fluid mt-3">
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-3 text-center">
      <button mat-button><img src="assets/imgs/anexar_folha_assinaturas.png" class="img-fluid"></button> <br />
      <img src="assets/imgs/icons/ic_clip.svg"> <span class="name-img pl-1">nome-da-imagem.jpeg</span> <img src="assets/imgs/icons/close.svg"
        class="icon-close pl-1">
      <div>
        <img src="assets/imgs/im_folha_assinaturas.png" class="img-doc img-fluid mt-3">
      </div>
    </div>

    <div class="col-xs-12 col-md-6 col-lg-2">
    </div>
    <img src="assets/imgs/icons/ic_info.svg" class="icon-info mt-2 mr-3 float-right">
  </div>
  <div class="row mt-5">
    <div class="col-xs-12 col-lg-4 mt-3">
      <div class="form-group">
        <label class="gray">SELECIONE O DOCUMENTO UTILIZADO</label>
        <div class="row">
          <div class="col col-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="answer" value="" id="yes2">
              <label class="form-check-label" for="yes2">CNH</label>
            </div>
          </div>
          <div class="col col-6">
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="answer" value="" id="not2">
              <label class="form-check-label" for="not2">Identidade</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-1">
    <div class="col-xs-12 col-lg-3">
      <div class="form-group">
        <label class="gray"></label>
        <input type="text" class="form-control" placeholder="RG">
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <div class="form-group">
        <label class="gray"></label>
        <input type="text" class="form-control" placeholder="EMISSOR">
      </div>
    </div>
    <div class="col-xs-12 col-lg-2">
      <div class="form-group">
        <label class="gray"></label>
        <input type="text" class="form-control" placeholder="UF">
      </div>
    </div>
    <div class="col-xs-12 col-lg-3">
      <div class="form-group">
        <label class="gray"></label>
        <input type="text" class="form-control" placeholder="DATA DE EMISSÃO">
      </div>
    </div>
  </div>
</div>
  <div class="buttons">
    <button class="btn bg-light-blue button-footer" [routerLink]="['/financial-information']">Voltar</button>
    <button class="btn bg-yellow ml-2 button-footer" [routerLink]="['/rate-package']">Avançar</button>
  </div>
