.content{
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    overflow: auto;
}

.content .login{
    margin: 0 auto;
}

.content .login .text-site{
    color: #fff;
    font-weight: bold;
    font-style: italic;
}

.content .login .card{
    margin: 0 auto;
    width: 400px;
    border-radius: 15px;
}

@media (max-width: 350px){
    .icon-eyes{
        margin-left: -20px;
    }

    .form-footer{
        font-size: 10px !important;
    }

    .content{
        margin-bottom: 50px;
    }

    .login{
        margin-bottom: 100px;
    }

    .card{
        height: 195px !important;
        padding-top: 5px !important;
        margin-top: 20px !important;
        width: 100% !important;
    }

    .btn-login{
        margin-top: 10px !important;
    }

    .img-logo-login{
        width: 115px !important;
        margin-top: 0px !important;
    }
}

@media (min-width: 351px) and (max-width: 500px){
    .content .login .card{
        width: 100%;
    }

    .content .login .img-logo-login{
        width: 130px !important;
        margin-top: 10px !important;
    }

    .card{
        height: 210px;
    }
}

.content .login .card input{
    border: none;
    color: #fff;
}

.content .login .card .form-footer{
    font-size: 12px;
    color: #fff;
    text-decoration: underline;
}

.content .login .img-logo-login{
    width: 180px;
    margin-top: 70px;
}


#email::-webkit-input-placeholder,#pass::-webkit-input-placeholder{
    color: #fff;
    font-size: 15px;
}

::-webkit-input-placeholder{
    font-size: 13px;
}

h4{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

.icon-eyes{
    cursor: pointer;
}

.footer-login{
    position: fixed;
    bottom: 0;
    width: 100%;
    background: transparent;
    font-size: 11px;
    height: 30px;
    color: #fff;
}
