<div class="content container-fluid" style="background-image: url('assets/imgs/bg_login.jpg')">
  <div class="login d-flex flex-column justify-content-center text-center">
    <div class="row">
      <div class="col col-12 pt-3 text-site">
        bancosemear.com.br
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-12 pt-3 text-site">
        <img src="assets/imgs/logo_login.png" class="img-logo-login">
      </div>
    </div>
    <div class="card p-4 mt-5 pt-4 bg-dark-blue">
      <form>
        <div class="form-group">
          <input name="email" type="e-mail" id="email" [(ngModel)]="email" class="form-control bg-dark-blue amarelo"
            placeholder="E-MAIL">
          <div class="row">
            <div class="col col-10">
              <input type="password" name="password" id="pass" [(ngModel)]="password"
                class="form-control mt-3 bg-dark-blue amarelo" placeholder="SENHA">
            </div>
            <div class="col col-2">
              <img src="assets/imgs/icons/eye.png" class="mt-4 icon-eyes">
            </div>
          </div>
        </div>
        <hr class="bg-light-blue">
        <div class="row form-footer pl-3 ">
          <div class="col col-8 d-flex">
            Lembrar e-mail
            <ui-switch color="#8bbae4" size="small" switchColor="#416c94" class="ml-2"></ui-switch>
          </div>
          <div class="col-col-6">
            Esqueci a senha
          </div>
        </div>
      </form>
    </div>
    <button class="text-uppercase bg-yellow light-blue btn-enter btn-login mt-5 mb-2" (click)="open(content)">Entrar</button>
    <button class="bg-light-blue btn-enter yellow" (click)="adm()">ADM</button><br />
  </div>
</div>

<ng-template #content let-modal class="bg-yellow">
  <div class="modal-body text-center p-4">
    <form>
      <div class="form-group">
        <img src="assets/imgs/icons/ic_ola.svg" class="icon-modal bg-yellow p-2">
        <h4 class="light-blue">Olá colaborador!</h4>
        <p>Esse é o seu primeiro acesso. <br />
          Precisamos criar uma senha para você.
        </p>
        <strong>Algumas regrinhas:</strong>
        <p>
          • Ela precisa ter no mínimo 6 dígitos; <br />
          • Não pode ser composta por números sequenciais e nem repetidos; <br />
          • Precisa ter pelo menos um caractere maiúscpo e um número. <br />
        </p>
      </div>
      <div class="row new-password mb-3">
        <div class="col col-6">
          <input type="password" placeholder="NOVA SENHA" class="form-control">
        </div>
        <div class="col col-6">
          <input type="password" placeholder="REPETIR SENHA" class="form-control">
        </div>
      </div>
    </form>
    <button class="bg-light-blue btn-enter yellow mb-5" (click)="enter()">ENTRAR</button><br />
  </div>
</ng-template>

<div class="footer-login p-2 pl-4 pr-4 d-none d-md-block">
  Copyright 2019 <strong>Banco Semear</strong>. Todos os direitos reservados.
  <span class="float-right">Versão 1.0</span>
</div>