
h4,h5, .register-seller{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

h4{
    font-size: 20px;
}

h5{
    color: #6eb8da;
}



select{
    border: none;
    color: #4478a7;
    font-size: 15px !important;
    text-transform: uppercase;
}

table{
    border: none;
}

table td{
    padding-left: 20px;
    border: none;
}

table td .edit{
    width: 30px;
    margin-top: -5px;
    cursor: pointer;
}

.active-status{
    background: rgb(88, 231, 88);
    font-weight: bold;
    color: #fff;
    padding: 5px 20px;
    border-radius: 5px;
}

.inactive-status{
    background: rgb(231, 88, 88);
    font-weight: bold;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
}

.register-seller{
    margin-top: -85px;
}

/* Estatísticas */

div.active-sellers, div.inactive-sellers{
    border: 2px solid #4478a7;
    border-radius: 10px;
    height: 145px;
    width: 155px;
    cursor: pointer;
    font-size: 12px;
}

div.active-sellers{
    position: relative;
    top: -110px
}

div.inactive-sellers{
    position: relative;
    top: -254px;
    left: 180px;
}

div h4, .text-date{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

div p{
    font-size: 13px;
}

@media (max-width: 1060px){
    div .filters{
        font-size: 11px !important;
    }
}

div .filters{
    font-size: 11px;
    color: #fff;
}

div button{
    border: none;
    font-weight: bold;
    color: #fff;
}

h1{
    font-weight: 100;
}

h1 .registration-amount, .finalized-amount, .in-progress-amount{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

.title-registration{
    border-radius: 0px 25px 25px 0px;
    border-top: 2px solid #4478a7;
    border-bottom: 2px solid #4478a7;
    border-right: 2px solid #4478a7;
    margin-left: -80px !important;
}

/* input{
    width: 125px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
} */

div.finalized, div.in-progress{
    border: 2px solid #4478a7;
    border-radius: 10px;
    height: 120px;
    width: 150px;
    background: #fff;
    cursor: pointer;
}

.finalized-amount, .in-progress-amount{
    font-size: 40px;
}

/* .canvas#lineChart.chartjs-render-monitor{
    height: 250px !important;
} */

span.finalized-text, span.in-progress-text{
    font-size: 12px;
}

@media (max-width: 1161px){
    div.finalized{
        position: relative;
        left: -280px;
        top: 35px;
        z-index: 50000;
        width: 110px;
    }
    
    div.in-progress{
        position: relative;
        top: -85px;
        left: -160px;
        width: 110px;
    }

    div.active-sellers{
        position: relative;
        top: -229px;
        width: 115px;
    }

    div.inactive-sellers{
        position: relative;
        top: -373px;
        left: 120px;
        width: 115px;
    }

    h1{
        font-size: 1.5rem !important;
    }
}

@media (min-width: 1162px) and (max-width: 1300px){
    h1{
        font-size: 2rem !important;
    }

    div.finalized{
        position: relative;
        left: -270px;
        top: 35px;
        z-index: 50000;
        width: 120px;
    }
    
    div.in-progress{
        position: relative;
        top: -85px;
        left: -140px;
        width: 120px;
    }

    div.active-sellers{
        position: relative;
        top: -230px;
        left: 0px;
        width: 120px;
    }

    div.inactive-sellers{
        position: relative;
        top: -375px;
        left: 130px;
        width: 120px;
    }

    .graphic{
        margin-top: -300px;
    }
}

@media (min-width: 1301px) and (max-width: 1493px){

    div.finalized{
        position: relative;
        left: -380px;
        top: 35px;
        z-index: 50000;
    }
    
    div.in-progress{
        position: relative;
        top: -85px;
        left: -220px;
    }

    div.active-sellers{
        position: relative;
        top: -228px;
        left: -20px;
        width: 140px;
    }

    div.inactive-sellers{
        position: relative;
        top: -372px;
        left: 140px;
        width: 140px;
    }

    .graphic{
        margin-top: -300px;
    }

    h1{
        font-size: 1.8rem !important;
    }
}

@media(min-width: 1494px) and (max-width: 1510px){

    div.finalized{
        position: relative;
        left: -350px;
        top: 35px;
        z-index: 50000;
        width: 142px;
    }
    
    div.in-progress{
        position: relative;
        top: -84px;
        left: -200px;
        width: 142px;
    }

    div.active-sellers{
        position: relative;
        top: -110px;
        left: -180px;
        width: 140px;
    }

    div.inactive-sellers{
        position: relative;
        top: -255px;
        left: 150px;
        width: 140px;
    }

    .graphic{
        margin-top: -200px;
    }

}

@media(min-width: 1511px) and (max-width: 1600px){
    div.finalized{
        position: relative;
        left: -365px;
        top: 35px;
        z-index: 50000;
        width: 142px;
    }
    
    div.in-progress{
        position: relative;
        top: 35px;
        left: -390px;
        width: 142px;
    }

    .graphic{
        margin-top: -200px;
    }
}

@media(min-width: 1601px){
    div.finalized{
        position: relative;
        left: -450px;
        top: 35px;
        z-index: 50000;
        width: 142px;
    }
    
    div.in-progress{
        position: relative;
        top: 35px;
        left: -500px;
        width: 142px;
    }

    div.inactive-sellers{
        position: relative;
        top: -110px;
        left: -20px;
    }

    .graphic{
        margin-top: 0px;
    }
}

.icon-modal{
    margin-top: -58px;
    border-radius: 33%;
    width: 40px;
}

::-webkit-input-placeholder, select{
    font-size: 11px !important;
}

.img-profile-text{
    font-size: 12px;
}

.btn-cancel-modal{
    border: 2px solid #fff !important;
    color: #4478a7 !important;
}

.btn-reset{
    border-radius: 30px;
    font-size: 13px;
    height: 40px;
    position: relative;
    top: -38px;
    right: -80px;
}