<!--  ############ -->

<h5 class="light-blue pt-4 pl-5">Olá, Lucas Vilela :)</h5>
<div class="pt-4 pl-5">
  <ngb-tabset>
    <ngb-tab title="ESTATÍSTICAS">
      <ng-template ngbTabContent>
        <div>
          <div class="row mt-5">
            <div class="col col-2 text-center">
            </div>
            <div class="col col-10 filters">
              ONTEM | HOJE | <span style="color: #6eb8da;"><strong>ESSA SEMANA</strong></span> | SEMANA PASSADA | ESSE
              MÊS | MÊS PASSADO | <span class="white pr-1 text-date">DE</span> <input type="date"> <span
                class="white p-1 text-date">ATÉ</span><input type="date"> <button class="bg-yellow p-2 ml-2">OK</button>
            </div>
          </div>
          <div class="row">
            <!-- gráfico 1 -->
            <pie-chart style="position: absolute; margin-top: -10px; z-index: 90000;"></pie-chart>
            <div class="col col-3" style="max-width:300px; min-width:250px;"></div>
            <div class="col col-6">
              <div class="title-registration m-2 p-4">
                <h1 class="text-uppercase white ml-4"><span class="registration-amount">55</span> cadastrados</h1>
              </div>
            </div>
            <div class="col col-3">
              <div class="row text-center text-uppercase">
                <div class="col" [routerLink]="['/adm-finalized']">
                  <div class="finalized d-flex align-items-center justify-content-center">
                    <h5>
                      <span class="finalized-amount">47</span><br />
                      <span class="finalized-text dark-blue">Finalizados</span>
                    </h5>
                  </div>
                </div>
                <div class="col" [routerLink]="['/adm-in-progress']">
                  <div class="in-progress d-flex align-items-center justify-content-center">
                    <h5>
                      <span class="in-progress-amount yellow">08</span><br />
                      <span class="in-progress-text dark-blue">Em andamento</span>
                    </h5>
                  </div>
                </div>

                <div class="col">
                  <div class="active-sellers d-flex align-items-center justify-content-center">
                    <h5>
                      <span class="in-progress-amount green">23</span><br />
                      <span class="in-progress-text white">Vendedores <br /> Ativos</span>
                    </h5>
                  </div>
                </div>

                <div class="col">
                  <div class="inactive-sellers d-flex align-items-center justify-content-center">
                    <h5>
                      <span class="in-progress-amount red">05</span><br />
                      <span class="in-progress-text white">Vendedores <br /> Inativos</span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row text-center d-flex justify-content-center graphic">
            <line-chart></line-chart>
          </div>
        </div>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle class="text-uppercase">VENDEDORES</ng-template>
      <ng-template ngbTabContent>
        <h4 class="pt-4 pl-4 light-blue">Lista de vendedores autorizados</h4>
        <span class="text-uppercase float-right register-seller dark-blue" [routerLink]="['/seller-registration']">Cadastrar novo vendedor <img
            src="assets/imgs/icons/ic_cadastro_vendedor.svg" style="margin-top: -20px; cursor: pointer;"
            class="pl-2 mr-3"></span>
        <div class="table-responsive">
          <table class="table">
            <tr>
              <th>
                <select name="" id="">
                  <option value="Nome">NOME</option>
                </select>
              </th>
              <th>
                <select name="" id="">
                  <option value="Nome">E-MAIL</option>
                </select>
              </th>
              <th>
                <select name="" id="">
                  <option value="Nome">TELEFONE</option>
                </select>
              </th>
              <th>
                <select name="" id="">
                  <option value="Nome">REDE</option>
                </select>
              </th>
              <th>
                <select name="" id="">
                  <option value="Nome">DATA DE INCLUSÃO</option>
                </select>
              </th>
              <th>
                <select name="" id="">
                  <option value="Nome">STATUS</option>
                </select>
              </th>
              <th></th>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="active-status">Ativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="active-status">Ativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="active-status">Ativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="inactive-status">Inativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="active-status">Ativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="active-status">Ativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
            <tr>
              <td>Lorem Ipsum Dolor Sit Amet</td>
              <td>aquiumemail@email.com</td>
              <td>(33)99999-9999</td>
              <td>Eletrosom</td>
              <td>12/07/2018</td>
              <td><span class="inactive-status">Inativo</span></td>
              <td (click)="openEdit(content4)"><img src="assets/imgs/icons/ic_editar.svg" class="edit"></td>
            </tr>
          </table>
        </div>
      </ng-template>
    </ngb-tab>
  </ngb-tabset>
</div>


<!-- MODAL EDIÇÃO -->

<ng-template #content4 let-modal class="bg-yellow" style="background: #e5cc38 !important;
  border-radius: 15px !important;
  width: 200% !important;
  margin-left: -50% !important;
  line-height: 27px;
">
  <div class="modal-body p-4">
    <form>
      <div class="form-group text-center">
        <img src="assets/imgs/icons/ic_lapis.svg" class="icon-modal bg-yellow p-2">
        <h4 class="light-blue pt-2 text-left">Nome do Vendedor Lorem Ipsum Dolor</h4>
        <div class="row pt-3">
          <div class="col-xs-12 col-md-3 col-lg-3 text-center">
            <img src="assets/imgs/icons/ic_avatar.svg" class="w-75 ml-3 d-none d-md-block img-profile">  
            <img src="assets/imgs/icons/ic_avatar.svg" class="w-50 mr-2 pl-5 d-block d-md-none img-profile">
            <span class="img-profile-text dark-blue"><u>Trocar Foto</u></span>
          </div>
          <div class="col-xs-12 col-md-9 col-lg-4 text-center">
            <form>
              <div class="form-group text-left form-modal">
                <label for="name" class="text-uppercase label-form dark-blue">Nome</label><br />
                <input id="name" type="text" class="form-control w-100" placeholder="Lucas de Alencar Félix Vilela">
                <label for="name" class="text-uppercase label-form dark-blue">E-mail</label><br />
                <input id="name" type="text" class="form-control w-100"
                  placeholder="lucas.vilela@parceirosec.com.br">
                <label for="name" class="text-uppercase label-form dark-blue" placeholder="(31)98541-7452">Telefone</label><br />
                <input id="name" type="text" class="form-control w-100">
                <label for="name" class="text-uppercase label-form dark-blue">Status</label><br />
                <select style="width: 100%; height: 35px;">
                  <option value="">Ativo</option>
                </select>
              </div>
            </form>
          </div>
          <div class="col-xs-12 col-md-9 col-lg-4 text-center">
            <form>
              <div class="form-group text-left form-modal">
                <label for="name" class="text-uppercase label-form dark-blue">Data de nascimento</label><br />
                <input id="name" type="text" class="form-control w-100" placeholder="Lucas de Alencar Félix Vilela">
                <label for="name" class="text-uppercase label-form dark-blue">CPF</label><br />
                <input id="name" type="text" class="form-control w-100"
                placeholder="12345678910">
                <label for="name" class="text-uppercase label-form dark-blue" placeholder="Loja eletrosom - Barbacena">Rede</label><br />
                <input id="name" type="text" class="form-control w-100">
                <label for="name" class="text-uppercase label-form dark-blue">Senha do Vendedor</label><br />
                <input id="name" type="text" class="form-control w-100" placeholder="******" disabled style="opacity: 0.5">
                <button class="btn bg-dark-blue text-uppercase btn-reset">Resetar senha</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </form>
    <div class="text-center buttons-form">
      <button class="bg-yellow btn-cancel-modal btn-enter light-blue m-2 text-uppercase btn-close"
        (click)="enter()">Cancelar</button>
      <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()">Salvar</button>
    </div>
  </div>
</ng-template>