<div class="container-fluid">
  <!-- <p>
    Todo ser humano por direito é livre pra sonhar. E estamos aqui para te ajudar a conquistar. Seja ele qual for.
    <br />
    Para sabermos como te ajudar, a sua renda mensal média nos ajudará a traçar objetivos a curto/médio/longo prazo e
    também estreitará o nosso relacionamento.
  </p>
  <label class="text-uppercase">Dentre os objetivos abaixo, qual você mais procura?</label><br />
  <div class="form-check form-check-inline mt-3">
    <input class="form-check-input" type="radio" name="radio" value="" id="marry">
    <label class="form-check-label" for="marry">Casar</label>
  </div><br />

  <div class="form-check form-check-inline mt-3">
    <input class="form-check-input" type="radio" name="radio" value="" id="house">
    <label class="form-check-label" for="house">Construir/Reformar minha casa</label>
  </div><br />

  <div class="form-check form-check-inline mt-3">
    <input class="form-check-input" type="radio" name="radio" value="" id="study">
    <label class="form-check-label" for="study">Pagar estudos</label>
  </div><br />

  <div class="form-check form-check-inline mt-3 mb-3">
    <input class="form-check-input" type="radio" name="radio" value="" id="other">
    <label class="form-check-label" for="other"></label>
    <input type="text" placeholder="Outro" for="other" class="other">
  </div><br />
  <hr /> -->
  <label class="text-uppercase mt-2 light-blue">Qual a renda mensal média?</label> <br />
  <div class="row" style="font-size: 25px;">
    <div class="col-xs-12 col-lg-8">
      <div class="row">
        <div class="col col-3">
            R$1.374,000
        </div>
        <div class="col col-6" style="margin-top: -10px;">
          <input type="range" min="R$1.374,000" max="R$3.748,00">
        </div>
        <div class="col col-3">
          R$3.748,00
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5 dark-blue">
      <div class="col-xs-12 col-lg-8">
          <div class="row">
            <div class="col col-3" style="font-size: 30px">
              <strong>R$2.500,000</strong>
            </div>
          </div>
        </div>
  </div>
</div>
<div class="buttons">
  <button class="btn bg-light-blue button-footer" [routerLink]="['/address-data']">Voltar</button>
  <button class="btn bg-yellow ml-2 button-footer" [routerLink]="['/identification-documents']">Avançar</button>
</div>

<script>
  var $range = document.querySelector('input'),
    $value = document.querySelector('span');

$range.addEventListener('input', function() {
  $value.textContent = this.value;
});
</script>
