<div class="p-4 ml-5 mr-3">
    <button [routerLink]="['/home-adm']" class="btn-back-performance"><img
        src="assets/imgs/icons/ic_seta-azul.svg"> Voltar</button>
    <h6 class="dark-blue">EXPORTAR LISTA <img src="assets/imgs/icons/ic_exportar_arquivo.svg"></h6>
    <div class="row mt-4">
      <div class="col-col-12 nav-in-progress p-3 bg-dark-blue w-100 d-flex align-items-center">
        <div class="row w-100 d-flex align-items-center">
          <div class="col col-2 piechart">
            <canvas id="pieChart" height="100"></canvas>
          </div>
          <div class="col col-8">
            <h5 class="text-uppercase white mt-1">Finalizados</h5>
          </div>
          <div class="col col-2">
            <div class="numbers">
              <span class="amount1 finalized-amount">47</span> <span class="bar">/</span> <span
                class="amount2 white">55</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive table-light">
      <table class="table">
        <tr class="text-uppercase">
          <th>Nome</th>
          <th>Data de abertura</th>
          <th>Telefone</th>
          <th>Status</th>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>12/07/2018</td>
          <td>(31) 00000-0000</td>
          <td>Finalizado</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>12/07/2018</td>
          <td>(31) 00000-0000</td>
          <td>Finalizado</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>12/07/2018</td>
          <td>(31) 00000-0000</td>
          <td>Finalizado</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>12/07/2018</td>
          <td>(31) 00000-0000</td>
          <td>Finalizado</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>12/07/2018</td>
          <td>(31) 00000-0000</td>
          <td>Finalizado</td>
        </tr>
        <tr>
          <td>Lorem ipsum dolor sit amet</td>
          <td>12/07/2018</td>
          <td>(31) 00000-0000</td>
          <td>Finalizado</td>
        </tr>
      </table>
    </div>
  </div>