<div class="container-fluid mt-5">
  <h4 class="text-uppercase dark-blue title">Descrição do pacote de tarifas</h4>
  <p class="mr-3">
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempore excepturi totam, blanditiis id ex esse? Officia
    esse vero, perferendis quisquam vel veritatis. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Unde,
    veritatis quam veniam maxime quaerat suscipit temporibus! Optio beatae incidunt tempora suscipit accusantium
    distinctio necessitatibus, velit nostrum rem, ut repellendus quos? Eos quia reiciendis quo alias distinctio officiis
    non!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum velit consequuntur quas, earum iste ullam officiis odio
    ratione corrupti ipsam, sit nemo ea provident officia numquam non repudiandae. Deserunt, perspiciatis.
  </p>
  <div class="text-center">
    <button class="bg-yellow text-uppercase btn-finish m-3 mr-5 mb-5" (click)="open(content)">Concluir</button>
  </div>
</div>

<ng-template #content let-modal class="bg-yellow">
  <div class="modal-body text-center p-4">
    <form>
      <div class="form-group">
        <img src="assets/imgs/icons/ic_ola.svg" class="icon-modal bg-yellow p-2">
        <h4 class="light-blue">Cadastro efetuado com sucesso. <br /> Confira as suas metas no dashboard!</h4>
      </div>
    </form>
    <button class="bg-yellow btn-enter light-blue mt-3 m-2 text-uppercase btn-close" (click)="enter()"
     >Sair</button>
    <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()"
      [routerLink]="['/register-personal-data']">Novo cadastro</button>
  </div>
</ng-template>