@media (min-width: 700px){
    .container-fluid{
        margin: 20px;
    }
}

@media (max-width: 600px){
    .title{
        max-width: 90%;
    }
}

p{
  font-size: 13px;
  line-height: 30px;
}

.btn-finish{
    width: 150px;
    height: 40px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border: none;
}

h4{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 20px;
}

.btn-close{
    border: 2px solid #fff;
}
