<nav-bar *ngIf="getLogged()"></nav-bar>

<!-- ######### INÍCIO SIDE MENU ######### (click)="toggleSidebar()" --> 

<div id="sidebar">
    <div *ngIf="getLogged()" class="toggle-btn d-flex justify-content-center"
        [ngClass]="sideActive ? 'off-opacity' : 'on-opacity'">
        <div class="text-center">
            <ul>
                <li class="img-profile">
                    <img src="assets/imgs/icons/ic_avatar.svg" class="mt-3 img-avatar" style="width: 40px;">
                    <img src="assets/imgs/show-menu.svg" class="img-show-menu">
                </li>
                <div class="menu-icons">
                    <li [routerLink]="['/home']" (click)="homeActive()"
                        [ngClass]="home ? 'item-active' : 'item-disabled'">
                        <img id="home" src="{{ urlInicio }}">
                    </li>
                    <li (click)="configActive()" [ngClass]="config ? 'item-active' : 'item-disabled'"
                        (click)="openConfig(content3)">
                        <img id="config" src="{{ urlConfig }}">
                    </li>
                    <li (click)="helpActive()" [ngClass]="help ? 'item-active' : 'item-disabled'"
                        (click)="openHelp(content2)">
                        <img id="help" src="{{ urlAjuda }}">
                    </li>
                    <li [routerLink]="['/register-personal-data']" (click)="dataActive()"
                        [ngClass]="personalData ? 'item-active' : 'item-disabled'" (click)="toggleSidebar()">
                        <img id="data" src="{{ urlDados }}">
                    </li>
                    <li [routerLink]="['/address-data']" (click)="addressActive()"
                        [ngClass]="address ? 'item-active' : 'item-disabled'" class="disabled">
                        <img id="address" src="{{ urlEndereco }}">
                    </li>
                    <li [routerLink]="['/financial-information']" (click)="financialActive()"
                        [ngClass]="financialInformation ? 'item-active' : 'item-disabled'" class="disabled">
                        <img id="financial" src="{{ urlFinanceiras }}">
                    </li>
                    <li [routerLink]="['/identification-documents']" (click)="identificationActive()"
                        [ngClass]="identificationDocuments ? 'item-active' : 'item-disabled'" class="disabled">
                        <img id="identification" src="{{ urlId }}">
                    </li>
                    <li [routerLink]="['/rate-package']" (click)="rateActive()"
                        [ngClass]="ratePackage ? 'item-active' : 'item-disabled'" class="disabled">
                        <img id="rates" src="{{ urlTarifas }}">
                    </li>
                </div>
            </ul>
        </div>
    </div>

    <ul *ngIf="getLogged()" class="h-100 internal-menu">
        <!-- (mouseleave)="toggleSidebarOff()" -->
        <li class="data-profile">
            <!-- <img src="assets/imgs/icons/ic_cancel.svg" *ngIf="sideActive" (click)="toggleSidebarOff()"
                class="btn-cancel"> -->
            <div class="row d-flex mt-5">
                <div class="col col-2">
                    <img src="assets/imgs/icons/ic_avatar.svg" style="width: 50px;" class="img-avatar">
                    <img src="assets/imgs/show-menu.svg" class="img-hide-menu" *ngIf="sideActive">
                </div>
                <div class="col col-10 pl-4">
                    <strong>Lucas Vilela</strong><br />
                    Eletrosom | Barbecena/MG
                </div>
            </div>
            <div class="row text-center mb-4">
                <div class="col col-4 text-right pl-5">
                    <img src="assets/imgs/icons/ic_inicio.svg" class="img-home-top" (click)="open(content)">
                </div>
                <div class="col col-4">
                    <img src="assets/imgs/icons/ic_config.svg" class="img-config-top" (click)="openConfig(content3)">
                </div>
                <div class="col col-4 text-left">
                    <img src="assets/imgs/icons/ic_ajuda.svg" class="img-help-top" (click)="openHelp(content2)">
                </div>
            </div>
        </li>
        <li class="text-uppercase text-center text-registration d-flex justify-content-center"><strong>Cadastro de
                novo
                cliente</strong></li>
        <div class="menu-icons">
            <li (click)="dataActive()" [ngClass]="personalData ? 'item-active' : 'item-disabled'"
                [routerLink]="['/register-personal-data']">
                <img id="data" src="{{ urlDados }}" class="mr-2 ml-2">
                Dados
                <strong>Pessoais</strong> <span *ngIf="personalData && sideActive"><img
                        src="assets/imgs/icons/ic_arrow2.png" class="icon-arrow"></span>
            </li>
            <div class="details p-3 pl-4 white">
                000.000.000-00 <br />
                Lucas de Alencar Félix Vilela <br />
                Masculino <br />
                Simone de Alenxar Felix <br />
                lucas.alencar.vilela@gmail.com <br />
                <!-- (31) 97348-7122 <br />
                16/01/1989 <br />
                Sr. Villela <br />
                Brasil <br />
                Minas Gerais <br />
                Belo Horizonte <br />
                Publicitário <br />
                Solteiro <br />
                Não exposto puplicamente <br />
                Não é cidadão americano <br />
                Não reside no exterior -->
            </div>
            <li (click)="addressActive()" [ngClass]="address ? 'item-active' : 'item-disabled'"
                [routerLink]="['/address-data']" class="disabled"><img id="address" src="{{ urlEndereco }}" class="mr-2 ml-2"> Dados
                de <strong>Endereço</strong>
                <span *ngIf="address && sideActive"><img src="assets/imgs/icons/ic_arrow2.png"
                        class="icon-arrow"></span>
            </li>
            <li (click)="financialActive()" [ngClass]="financialInformation ? 'item-active' : 'item-disabled'"
                [routerLink]="['/financial-information']" class="disabled"><img id="financial" src="{{ urlFinanceiras }}"
                    class="mr-2 ml-2">
                Informações <strong>Financeiras</strong> <span *ngIf="financialInformation && sideActive"><img
                        src="assets/imgs/icons/ic_arrow2.png" class="icon-arrow"></span>
            </li>
            <li (click)="identificationActive()" [ngClass]="identificationDocuments ? 'item-active' : 'item-disabled'"
                [routerLink]="['/identification-documents']" class="disabled"><img id="identification" src="{{ urlId }}"
                    class="mr-2 ml-2"> Documentos de
                <strong>Identificação</strong> <span *ngIf="identificationDocuments && sideActive"><img
                        src="assets/imgs/icons/ic_arrow2.png" class="icon-arrow"></span>
            </li>
            <li (click)="rateActive()" [ngClass]="ratePackage ? 'item-active' : 'item-disabled'"
                [routerLink]="['/rate-package']" class="disabled"><img id="rates" src="{{ urlTarifas }}" class="mr-2 ml-2"> Pacote de
                <strong>Tarifas</strong>
                <span *ngIf="ratePackage && sideActive"><img src="assets/imgs/icons/ic_arrow2.png"
                        class="icon-arrow"></span>
            </li>
        </div>
    </ul>
</div>

<!--- ######### FIM SIDE MENU ######### -->

<!-- ######### MODAIS DO SIDE MENU ######### -->

<!-- MODAL HOME -->

<ng-template #content let-modal class="bg-yellow">
    <div class="modal-body text-center p-4">
        <form>
            <div class="form-group">
                <img src="assets/imgs/icons/ic_inicio_azul.svg" class="icon-modal bg-yellow p-2">
                <h4 class="light-blue pt-2">Deseja voltar para a página inicial?</h4>
                <p>Seu progresso será salvo e você poderá concluí-lo mais tarde.</p>
                <p>Para finalizar acesse: <br />
                    <strong>DESEMPENHO > CADASTROS NÃO FINALIZADOS</strong> <br />
                    e selecione o CPF correspondente.</p>
            </div>
        </form>
        <button class="bg-yellow btn-cancel-modal btn-enter light-blue mt-3 m-2 text-uppercase btn-close"
            (click)="enter()">Cancelar</button>
        <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()">Sim</button>
    </div>
</ng-template>

<!-- MODAL HELP -->

<ng-template #content2 let-modal class="bg-yellow">
    <div class="modal-body text-center p-4 modal-help">
        <form>
            <div class="form-group">
                <img src="assets/imgs/icons/ic_ajuda_azul.svg" class="icon-modal bg-yellow p-2">
                <h4 class="light-blue mb-4 pt-2">Estamos aqui para te ajudar <br /> da melhor maneira possível :)</h4>
                <div class="row text-center">
                    <div class="col-xs-12 col-lg-4">
                        <p>
                            <img src="assets/imgs/icons/ic_telefone.svg" class="pr-2">
                            <strong>Telefone</strong> <br />
                            (XX) XXXX-XXXX</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <p>
                            <img src="assets/imgs/icons/ic_email.svg" class="pr-2">
                            <strong>E-mail</strong> <br />
                            e-mail@dominio.com.br</p>
                    </div>
                    <div class="col-xs-12 col-lg-4">
                        <p>
                            <img src="assets/imgs/icons/ic_whatsapp.svg" class="pr-2">
                            <strong>Whatsapp</strong> <br />
                            (XX) XXXX-XXXX</p>
                    </div>
                </div>
                <p><strong>Para facilitar o atendimento, já tenha os dados <br /> do cliente em mãos.</strong></p>
            </div>
        </form>
        <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()"
            [routerLink]="['/register-personal-data']">Fechar</button>
    </div>
</ng-template>

<!-- MODAL CONFIGURAÇÕES -->

<ng-template #content3 let-modal class="bg-yellow">
    <div class="modal-body p-4">
        <form>
            <div class="form-group text-center">
                <img src="assets/imgs/icons/ic_config_azul.svg" class="icon-modal bg-yellow p-2">
                <h4 class="light-blue pt-2">Configurações do Usuário</h4>
                <div class="row pt-3">
                    <div class="col-xs-12 col-md-3 col-lg-3 text-center">
                        <img src="assets/imgs/icons/ic_avatar.svg" class="w-100 ml-4 d-none d-md-block img-profile">
                        <img src="assets/imgs/icons/ic_avatar.svg" class="w-50 ml-5 pl-5 d-block d-md-none img-profile">
                    </div>
                    <div class="col-xs-12 col-md-9 col-lg-9 text-center">
                        <form>
                            <div class="form-group text-left form-modal">
                                <label for="name" class="text-uppercase ml-5 label-form dark-blue">Nome</label><br />
                                <input id="name" type="text" class="form-control w-75 ml-5"
                                    placeholder="Lucas de Alencar Félix Vilela">
                                <label for="name" class="text-uppercase ml-5 label-form dark-blue">E-mail</label><br />
                                <input id="name" type="text" class="form-control w-75 ml-5"
                                    placeholder="lucas.vilela@parceirosec.com.br">
                                <label for="name" class="text-uppercase ml-5 label-form dark-blue">Data de
                                    nascimento</label><br />
                                <input id="name" type="date" class="form-control w-75 ml-5" placeholder="16/01/1989">
                                <label for="name"
                                    class="text-uppercase ml-5 label-form dark-blue">Telefone</label><br />
                                <input id="name" type="text" class="form-control w-75 ml-5">
                                <label for="name" class="text-uppercase ml-5 label-form dark-blue">Rede</label><br />
                                <input id="name" type="text" class="form-control w-75 ml-5">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </form>
        <div class="text-center buttons-form">
            <button class="bg-yellow btn-cancel-modal btn-enter light-blue m-2 text-uppercase btn-close"
                (click)="enter()">Cancelar</button>
            <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()">Sim</button>
        </div>
    </div>
</ng-template>

<!-- ######### FIM DOS MODAIS ######### -->


<div [ngClass]="sideActive ? 'invisible-content' : getLogged() ? 'visible-content' : 'full-content'">
    <router-outlet></router-outlet>
</div>
<footer *ngIf="getLogged()" class="d-none d-md-block"></footer>