h4{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 20px;
    margin-top: -20px;
}

.btn-cancel-modal{
    border: 2px solid #fff;
}

.modal-help p{
    font-size: 14px;
}

.icon-modal {
    margin-top: -75px;
    width: 50px;
    border-radius: 100%;
    padding-bottom: 20px !important;
}

.label-form{
    font-size: 14px;
    margin-bottom: -10px;
}

.form-modal input{
    height: 33px;
}

@media (max-width: 600px){
    .buttons-form{
        margin-top: -80px;
    }
}

.details{
    background: #416c94;
    font-size: 13px;
}