.navbar-light .navbar-text{
    color: #fff;
}

.navbar-light .navbar-toggler{
    border-color: transparent;
}

.navbar{
    height: 70px;
    z-index: 90;
    position: fixed;
    width: 100%;
}

/* @media (max-width: 600px){
    .navbar{
        height: 70px;
        margin-bottom: 50px;
        position: fixed;
        width: 100%;
        z-index: 5000;
    }
} */

.ic-logout{
    height: 70px;
    display: flex !important;
    width: 60px;
    justify-content: center;
    margin-right: -16px;
    cursor: pointer;
}

@media (max-width: 991px){
    .ic-logout{
        display: none !important;
    }
}

h4{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 20px;
}

.icon-modal {
    width: 50px;
}

.btn-logout{
    border: 2px solid #fff;
}