<nav class="navbar navbar-expand-lg navbar-light bg-light-blue">
  <a class="navbar-brand" href="#"><img src="assets/imgs/logo_branca.svg" class="logo-navbar"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <img src="assets/imgs/icons/ic_sair_branco.svg" (click)="open(content)">
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
    </ul>
    <span class="navbar-text mr-3 text-right">
      <strong>Lucas Vilela</strong> <br />
      Eletrosom | Barbacena/MG
    </span>
  </div>
  <div class="bg-yellow ic-logout" (click)="open(content)"><img src="assets/imgs/icons/ic_sair.svg"></div>
</nav>

<ng-template #content let-modal class="bg-yellow">
  <div class="modal-body text-center p-4">
    <form>
      <div class="form-group">
        <img src="assets/imgs/icons/ic_sair.svg" class="icon-modal bg-yellow p-2">
        <h4 class="light-blue">Tem certeza que quer sair?</h4>
      </div>
    </form>
    <button class="bg-yellow btn-cancel btn-enter light-blue mt-3 m-2 btn-logout text-uppercase"
      (click)="enter()">Cancelar</button>
    <button class="bg-light-blue btn-enter yellow mb-3 m-2 text-uppercase" (click)="enter()">Sair</button>
  </div>
</ng-template>