<div class="container-fluid">
  <form>
    <div class="row">
      <div class="col-xs-12 col-lg-3">
        <div class="form-group">
          <label class="light-blue"></label>
          <input name="cep" type="text" class="form-control" placeholder="CEP">
        </div>
      </div>
      <div class="col-xs-12 col-lg-9 mt-4 not-cep">
        <span class="light-blue cep">não sei meu cep</span>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-4 mr-4">
        <div class="form-group">
          <label class="light-blue"></label>
          <input name="address" type="text" class="form-control" placeholder="ENDEREÇO">
        </div>
      </div>
      <div class="col-xs-12 col-lg-2 number mr-4">
        <label class="light-blue"></label>
        <input name="number" type="text" class="form-control" placeholder="Nº">
      </div>
      <div class="col-xs-12 col-lg-4">
        <label class="light-blue"></label>
        <input name="complement" type="text" class="form-control" placeholder="COMPLEMENTO">
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-xs-12 col-lg-4 mr-4">
        <div class="form-group">
          <label class="light-blue"></label>
          <input name="address" type="text" class="form-control" placeholder="BAIRRO">
        </div>
      </div>
      <div class="col-xs-12 col-lg-4 reference">
        <label class="light-blue"></label>
        <input name="reference" type="text" class="form-control" placeholder="REFERÊNCIA">
      </div>
    </div>

    <div class="row mt-4 radio">
      <div class="col-xs-12 col-lg-4">
        <div class="form-group">
          <label class="gray">QUER INFORMAR ENDEREÇO COMERCIAL?</label>
          <div class="row">
            <div class="col col-4">
              <div class="form-check form-check-inline" (click)="enterAddress()">
                <input class="form-check-input" type="radio" name="answer" value="enterAddress()" id="yes-address">
                <label class="form-check-label" for="yes-address">SIM</label>
              </div>
            </div>
            <div class="col col-4">
              <div class="form-check form-check-inline" (click)="cancelAddress()">
                <input class="form-check-input" type="radio" name="answer" value="" id="no-address">
                <label class="form-check-label" for="no-address">NÃO</label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- CASO QUEIRA INSERIR ENDEREÇO COMERCIAL -->

    <div class="bg-gray p-1 p-4 mt-2" *ngIf="address" id="address-commercial">
      <h6 class="text-uppercase dark-blue">Endereço Comercial</h6>
      <div class="row">
        <div class="col-xs-12 col-lg-3">
          <div class="form-group">
            <label class="light-blue"></label>
            <input name="cep" type="text" class="form-control" placeholder="CEP">
          </div>
        </div>
        <div class="col-xs-12 col-lg-9 mt-4 not-cep">
          <span class="light-blue cep">não sei meu cep</span>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xs-12 col-lg-4 mr-4">
          <div class="form-group">
            <label class="light-blue"></label>
            <input name="address" type="text" class="form-control" placeholder="ENDEREÇO">
          </div>
        </div>
        <div class="col-xs-12 col-lg-2 mr-4 number">
          <label class="light-blue"></label>
          <input name="numero" type="text" class="form-control" placeholder="Nº">
        </div>
        <div class="col-xs-12 col-lg-4">
          <label class="light-blue"></label>
          <input name="complemento" type="text" class="form-control" placeholder="COMPLEMENTO">
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-xs-12 col-lg-4 mr-4">
          <div class="form-group">
            <label class="light-blue"></label>
            <input name="address" type="text" class="form-control" placeholder="BAIRRO">
          </div>
        </div>
        <div class="col-xs-12 col-lg-4 reference">
          <label class="light-blue"></label>
          <input name="numero" type="text" class="form-control" placeholder="REFERÊNCIA">
        </div>
      </div>
    </div>
    <!-- ENDEREÇO DE CORRESPONDÊNCIA -->

    <div class="row mt-5 radio">
      <div class="col-xs-12 col-lg-6">
        <div class="form-group">
          <label class="gray">QUAL O ENDEREÇO PARA CORRESPONDÊNCIA?</label>
          <div class="row">
            <div class="col-xs-12 col-md-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="cep1">
                <label class="form-check-label" for="cep1">30425871</label>
              </div>
            </div>
            <div class="col-xs-12 col-md-3">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="answer" value="" id="cep2">
                <label class="form-check-label" for="cep2">0000000</label>
              </div>
            </div>
            <div class="col-xs-12 col-md-6">
              <span class="light-blue cep">informar novo endereço</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- <div class="float-right mb-5 mr-2 d-none d-lg-block">
    <button class="btn bg-light-blue button-footer button-footer"
      [routerLink]="['/register-personal-data']">Voltar</button>
    <button class="btn bg-yellow ml-2 button-footer button-footer"
      [routerLink]="['/financial-information']">Avançar</button>
  </div> -->
  <div class="buttons"> <!--  d-block d-lg-none -->
    <button class="btn bg-light-blue button-footer button-footer"
      [routerLink]="['/register-personal-data']">Voltar</button>
    <button class="btn bg-yellow ml-2 button-footer button-footer"
      [routerLink]="['/financial-information']">Avançar</button>
  </div>
</div>
