/* input, select{
    width: 90% !important;
} */

select{
    width: 80%;
    height: 38px;
    margin-top: 25px;
    font-size: 14px;
    font-weight: bold;
}

label{
    font-size: 13px;
}

::-webkit-input-placeholder{
  font-size: 11px !important;
  font-weight: bold;
}

span.cep{
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

#address-commercial{
    width: 85%;
}

@media (max-width: 900px){
    #address-commercial{
        width: 100%;
    }
}

::-webkit-input-placeholder{
    font-size: 14px;
    font-weight: bold;
}

form{
    width: 100%;
}

h6{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

.bg-gray{
    border-right: 20px solid #fff;
}

button{
    color: #fff;
    font-weight: bold;
    width: 95px;
    height: 45px;
    border-radius: 10px;
}

#address-commercial:checked ~ .bg-gray{
    display: block;
}

@media (min-width: 600px){
    form{
        padding: 20px;
    }
}

@media (max-width: 800px){
    .not-cep{
        margin-top: 0px !important;
    }

    .number{
        margin-top: -10px;
        margin-bottom: 5px;
    }

    .reference{
        margin-top: -10px;
    }

    .radio{
        margin-top: 20px !important;
    }
    #address-commercial input{
        width: 100% !important;
    }
}
