h5{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

.card{
    border: 2px solid #4478a7;
    height: 205px;
    width: 280px;
    margin: 30px;
    border-radius: 25px;
    flex-direction: column;
    padding-top: 40px;
}

.card:hover{
    background: #e5cc38;
    cursor: pointer;
    color: #4478a7;
}

.card .icon-home{
    height: 70px;
}

.cards{
    height: 65vh;
    margin-right: -30px;
}

@media (max-width: 350px){
    .row{
        margin-bottom: 50px;
    }
}

@media (max-width: 600px){
    .card{
        margin-left: -10px;
        width: 60%;
        padding-top: 20px !important;
        height: 150px;
    }

    .cards{
        margin-top: 0px;
    }

    .card .icon-home{
        height: 50px !important;
    }

    h5{
        font-size: 15px;
    }

    .performance{
        margin-top: -20px;
    }
}