<h5 class="pt-5 pl-5 light-blue">Olá, Lucas Vilela :)</h5>

<div class="row d-flex align-items-center justify-content-center cards text-center">
  <div class="col-xs-12 card yellow d-flex align-items-center" (click)="toggleSidebar()">
    <img src="assets/imgs/icons/ic_cadastrar_cliente.svg" class="icon-home">
    <h5 class="mt-4 text-uppercase">Cadastrar cliente</h5>
  </div>
  <div class="col-xs-12 card yellow performance" (click)="toggleSidebarOff()">
    <img src="assets/imgs/icons/ic_desempenho.svg" class="icon-home">
    <h5 class="mt-4 text-uppercase">Desempenho</h5>
  </div>
</div>