@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Open Sans', sans-serif;
}

::-webkit-scrollbar {
  background: transparent;
  width: 0px;
  height: 0px;
}

.disabled {
  pointer-events:none;
  opacity:0.4;
  /* background: #242c46; */
}

/* .container-fluid{
  margin-bottom: 20px;
} */

body{
  background: #ccc;
}

select{
  font-size: 11px !important;
  font-weight: bold;
  padding-left: 10px;
  color: gray;
  border: 1px solid #ccc;;
}

table th, td{
  font-size: 13px;
}

.img-avatar{
  border-radius: 100%;
}

.piechart{
  margin-left: -3.8%;
}

.btn-enter{
  margin: 0 auto;
  width: 150px;
  height: 40px;
  box-shadow: none;
  border: none;
  border-radius: 30px;
  font-size: 14px;
  font-weight: bold;
}

.button-footer{
  color: #fff !important;
  font-weight: bold !important;
  width: 95px !important;
  height: 45px;
  border-radius: 10px !important;
}

.modal{
  top: 5% !important;
}

.modal.show .modal-dialog {
  padding-top: 20px;
}

.modal-content{
  background: #e5cc38 !important;
  border-radius: 15px !important;
  width: 140% !important;
  margin-left: -20% !important;
  line-height: 27px;
}

.icon-modal{
  margin-top: -75px;
  width: 60px;
  border-radius: 100%;
}

label{
  font-weight: bold;
  color: rgb(119, 119, 119);
  font-size: 13px !important;
}

span.code-sms{
  font-size: 14px;
  text-decoration: underline;
  cursor: pointer;
}

button, input, li, div, img, span{
  outline-style: none !important;
}

textarea:focus,
input:focus,
select:focus {
border-color: none !important;
outline: 0;
-webkit-box-shadow: none !important;
box-shadow: none !important;
}


/* ----- SUPERRIOR BAR -----*/

.bg-semear{
  background: #4478a7;
}

.logo-navbar{
  width: 150px;
}

/* ------ COLORS - FONT ------*/

.light-blue{
  color: #4478a7;
}

.medium-blue{
  color: #416c94;
}

.dark-blue{
  color: #333f65;
}

.yellow{
  color: #e5cc38;
}

.dark-yellow{
  color: #c8b335 !important;
}

.gray{
  color: gray;
}

.white{
  color: #fff;
}

.green{
  color: rgb(111, 219, 111);
}

.red{
  color: rgb(226, 103, 103);
}

/* ------ COLORS - BACKGROUNDS ------*/

.bg-light-blue{
  background:  #4478a7 !important;
}

.bg-medium-blue{
   background:  #416c94;
}

.bg-dark-blue{
  background:  #333f65 !important;
}

.bg-yellow{
  background:  #e5cc38 !important;
}

.bg-dark-yellow{
  background:  #c8b335 !important;
}

.bg-gray{
  background: rgb(231, 231, 231);
}

/* ----- SIDE MENU ----- */

#sidebar{
  position: fixed;
  width: 300px;
  height: 100%;
  background: linear-gradient(#2a3452, #333f65);
  left: -300px;
  margin-top: -5px;
  transition: all .2s linear;
  border-radius: 0px 50px 0px 0px;
  top: 75px;
  z-index: 90000;
}

#sidebar.active{
  transform: translateX(300px);
}

.off-opacity{ opacity: 0; }

.on-opacity{ opacity: 1; }

#sidebar ul li{
  color: rgba(230, 230, 230, 0.9);
  list-style: none;
  padding: 12px 10px;
  cursor: pointer;
  font-size: 14px;
}

#sidebar ul li .icon-arrow{
  height: 50px !important;
   position: absolute;
  left: 293px;
  margin-top: -12px;
}

#sidebar ul li .img-home-top{
  width: 30px;
  margin-right: -15px;
}

#sidebar ul li .img-config-top{
  width: 30px;
}

#sidebar ul li .img-help-top{
  width: 30px;
  margin-left: -15px;
}

#sidebar ul .img-profile:hover, #sidebar ul .data-profile:hover{
  border: none;
  background: #333f65;
}

#sidebar ul li:hover, #sidebar ul li:active, .item-active{
  background: #4478a7;
  border-left: 2px solid #f0cd1b;
}

#home :hover, .item-active #home{
  content: url('assets/imgs/icons/ic_inicio_amarelo.svg');
}

#config :hover, .item-active #config{
  content: url('assets/imgs//icons/ic_config_amarelo.svg');
}

#help :hover, .item-active #help{
  content: url('assets/imgs/icons/ic_ajuda_amarelo.svg');
}

#data :hover, .item-active #data{
  content: url('assets/imgs/icons/ic_dados_pessoais_amarelo.svg');
}

#address :hover, .item-active #address{
  content: url('assets/imgs/icons/ic_endereco_amarelo.svg');
}

#financial :hover, .item-active #financial{
  content: url('assets/imgs/icons/ic_financeiras_amarelo.svg');
}

#identification :hover, .item-active #identification{
  content: url('assets/imgs/icons/ic_docs_identificacao_amarelo.svg');
}

#rates :hover, .item-active #rates{
  content: url('assets/imgs/icons/ic_pct_tarifas_amarelo.svg');
}

#sidebar ul li img, .item-active img{
  width: 25px;
}


#sidebar .menu-icons li img, #sidebar .menu-icons li span img{
  width: 35px;
  height: 25px;
}

#sidebar ul li .btn-cancel{
  position: absolute;
  right: 30px;
  top: 30px;
}

#sidebar ul li .img-show-menu{
  position: relative;
  right: -30px;
  margin-top: -65px;
}

#sidebar ul li .img-hide-menu{
  position: relative;
  right: -280px;
  margin-top: -140px;
}

#sidebar ul .img-profile{
  background: #333f65;            /* azul meio cinza do menu parte superior */
  border-radius: 0px 50px 0px 0px;  /* azul meio cinza do menu parte superior */
}

#sidebar ul .data-profile{
  background: #333f65;
  height: 200px;
  border-radius: 0px 50px 0px 0px;
}

#sidebar ul .text-registration, #sidebar ul .text-registration:hover{
  display: flex;
  align-items: center;
  height: 40px;
  color: #4478a7;
  border: none;
  background: #2a3452;  /* azul mais escuro */
}

#sidebar .toggle-btn{
  background: linear-gradient(#2a3452, #333f65);
  position: absolute;
  left: 300px;
  top: 0px;
  height: 100%;
  border-radius: 0px 50px 0px 0px;
  -webkit-transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -ms-transition: opacity .2s ease-in-out;
  -o-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

#sidebar #toggle-btn ul li{
  margin-top: -2px;
}

.invisible-content{
  position: absolute;
  left: 310px;
  top: 70px;
  width: 75vw;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
}

.visible-content{
  position: absolute;
  left: 70px;
  top: 70px;
  width: 93%;
  margin-top: 10px;
  overflow-y: auto;
  overflow-x: hidden;
  padding-bottom: 30px;
  height: 85%;
}

.full-content{
  /* position: absolute; */
  left: 300px;
  top: 0px;
  width: 100vw;
  /* margin-top: 5px; */
  overflow-y: auto;
  overflow-x: hidden;
  /* height: 100%; */
}

/* ----- FOOTER -----*/

.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #e3e3e3;
  font-size: 11px;
  height: 30px;
  z-index: 90000;
}

/* ----- RADIOS ------*/

/* input[type=radio], input[type=checkbox]{
  display:none;
}

label {
  cursor: pointer;
}

input[type="radio"] + label:before, input[type="checkbox"] + label:before {
  border: 1px solid rgb(119, 119, 119);
  content: "\00a0";
  display: inline-block;
  font: 16px/1em sans-serif;
  height: 15px;
  margin: 2px;
  margin-right: 3px;
  padding:0;
  vertical-align: top;
  width: 15px;
  border-radius: 100%;

}

input[type="radio"]:checked + label:before, input[type="checkbox"]:checked + label:before {
  background: #fff;
  color: rgb(119, 119, 119);
  content: "\2718";
  text-align: center;
  font-size: 10px;
}

input#url{
  font-weight: 900;
  text-align: center;
  width: 75%;
  border: 2px solid rgb(119, 119, 119);
  height: 40px;
} */

/* ---- PERFORMANCE ----- */
.nav-in-progress h5{
  margin-left: -7%;
}

.nav-in-progress h5, span.amount1, span.amount2{
  font-weight: 900 !important;
  font-family: 'Open Sans Bold', sans-serif;
}

.numbers{
  position: relative;
  right: -85%;
}

span.amount1{
  font-size: 35px;
  position: relative;
  top: -17px;
}

span.bar{
  color: #2686b3;
  font-size: 50px;
  font-weight: 100;
}

.btn-back-performance{
  background: transparent;
  border: none;
  margin-left: -15px;
}

.finalized-amount{
  color: #6eb8da;
}

/* ----- RESPONSIVE LAYOUT -----*/

@media (min-width: 900px){
  .buttons{
    position: fixed !important;
    bottom: 50px;
    right: 35px;
  }
}

@media (max-height: 700px){
  #sidebar .menu-icons li img{
    width: 35px;
    height: 25px;
  }

  #sidebar ul li{
    padding: 10px 10px;
  }
}

@media (max-width: 600px){

  .visible-content{
    width: 80%;
  }

  label, select{
    font-size: 12px !important;
  }

  form{
    width: 100%;
    padding-top: 10px;
    margin-bottom: 50px;
    -webkit-overflow-scrolling: touch;
  }

  .footer{
    height: 45px;
  }

  #sidebar ul li{
    padding: 10px 10px;
    font-size: 14px;
  }

  ::-webkit-input-placeholder{
    font-size: 12px !important;
  }

  #sidebar .menu-icons li img{
    width: 35px;
    height: 22px;
  }
}

@media (max-width: 900px){
  #sidebar .invisible-content{
    width: 85vw !important;
  }

  .buttons{
    text-align: center;
    margin-left: -20px;
    margin-bottom: 30px;
    margin-top: 10px;
  }
}

/* @media (min-width: 1025px){
  #sidebar ul li .btn-cancel{
    display: none !important;
  }
} */


/* ----- MODAL ----*/

@media (max-width: 600px){
  .modal-content{
    margin-left: 0px !important;
    width: 100% !important;
    line-height: 20px;
  }

  h4{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
    font-size: 20px;
  }

  #modal-back{
    width: 59%;
  }

  .modal-content p{
    font-size: 14px;
  }

  .modal{
    top: 2% !important;
  }

  .icon-modal{
    margin-top: -35px !important;
  }

  #sidebar ul li .icon-arrow{
    height: 43px !important;
    position: absolute;
    left: 293px;
    margin-top: -10px;
  }

}

@media (max-width: 350px){
  .modal-content{
    padding-bottom: 30px;
  }
}


/* ### ADMIN #### */

.tab-content>.tab-pane {
  border-radius: 0px 20px 20px;
  border: 1px solid #ccc;
  border-right: 10px solid rgb(206, 206, 206);
}

.nav-tabs{
  border-bottom: none !important;
}

a#ngb-tab-1.nav-link.active{
    background: #fff !important;
    color: #333f65 !important;
}

.nav-tabs .nav-item {
  margin-bottom: -1px;
  width: 300px !important;
  text-align: center !important;
  border-radius: 0px 10px 10px 0px !important;
  font-size: 15px;
}

.nav-tabs .nav-link{
  border-radius: 30px 30px 0px 0px !important;
  color: #333f65;
  font-weight: bold;
  border: 1px solid #ccc !important;
}

.nav-link.active{
  background: #333f65 !important;
  color: #6eb8da !important;
  font-weight: bold;
}

div#ngb-tab-0-panel.tab-pane.active, div#ngb-tab-2-panel.tab-pane.active, div#ngb-tab-4-panel.tab-pane.active, .div#ngb-tab-6-panel.tab-pane.active, div#ngb-tab-8-panel.tab-pane.active{
  background: #333f65;
}

.chartjs-size-monitor{
  position: relative !important;
}

canvas#lineChart.chartjs-render-monitor{
  background: rgb(255, 255, 255);
  display: block !important;
  width: 100% !important;
  height: 300px !important;
  padding: 20px;
  margin-bottom: 20px;
}