<div class="m-4 pl-3 pb-3">
  <h4 class="text-uppercase dark-blue">Painel de desempenho dos cadastros</h4>
  <p>Saiba mais sobre seus cadastros nos números de <strong>finalizados</strong> e <strong>em andamento</strong>, assim
    você abre a lista detalhada dos clientes.</p>
</div>

<div>
  <div class="row">
    <div class="col col-2 text-center">
    </div>
    <div class="col col-10 filters">
      ONTEM | HOJE | <span style="color: #6eb8da;"><strong>ESSA SEMANA</strong></span> | SEMANA PASSADA | ESSE MÊS | MÊS PASSADO | <span
        class="light-blue pr-1 text-date">DE</span> <input type="date"> <span
        class="light-blue p-1 text-date">ATÉ</span><input type="date"> <button class="bg-yellow p-2 ml-2">OK</button>
    </div>
  </div>
  <div class="row">
    <div class="col col-3 text-center" style=" margin-left: -40px; margin-top: -20px;">
      <canvas id="pieChart"></canvas>
    </div>
    <div class="col col-6">
      <div class="title-registration m-2 p-4">
        <h1 class="text-uppercase dark-blue ml-4"><span class="registration-amount">55</span> cadastrados</h1>
      </div>
    </div>
    <div class="col col-3">
      <div class="row text-center text-uppercase">
        <div class="col" [routerLink]="['/finalized']">
          <div class="finalized d-flex align-items-center justify-content-center">
            <h5>
              <span class="finalized-amount">47</span><br />
              <span class="finalized-text">Finalizados</span>
            </h5>
          </div>
        </div>
        <div class="col" [routerLink]="['/in-progress']">
          <div class="in-progress d-flex align-items-center justify-content-center">
            <h5>
              <span class="in-progress-amount yellow">08</span><br />
              <span class="in-progress-text">Em andamento</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div><br /><br />
  <div class="row text-center d-flex justify-content-center">
    <div class="col col-11">
      <canvas id="lineChart" height="50"></canvas>
    </div>
  </div>
</div>
