
div h4, .text-date{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

div p{
    font-size: 13px;
}

@media (max-width: 1060px){
    div .filters{
        font-size: 11px !important;
    }
}

div .filters{
    font-size: 12px;
}

div button{
    border: none;
    font-weight: bold;
    color: #fff;
}

h1{
    font-weight: 100;
}

h1 .registration-amount, .finalized-amount, .in-progress-amount{
    font-weight: 900 !important;
    font-family: 'Open Sans Bold', sans-serif;
}

.title-registration{
    border-radius: 0px 25px 0px 0px;
    border-top: 2px solid #4478a7;
    border-bottom: 2px solid #4478a7;
    margin-left: -100px !important;
}

input{
    width: 125px;
    border: 1px solid gray;
    border-radius: 3px;
    height: 30px;
    padding-left: 10px;
}

div.finalized, div.in-progress{
    border: 2px solid #4478a7;
    border-radius: 10px;
    height: 120px;
    width: 150px;
    background: #fff;
    cursor: pointer;
}

.finalized-amount, .in-progress-amount{
    font-size: 40px;
}

/* .canvas#lineChart.chartjs-render-monitor{
    height: 250px !important;
} */

span.finalized-text, span.in-progress-text{
    font-size: 13px;
}

@media (max-width: 1161px){
    div.finalized{
        position: relative;
        left: -160px;
        top: 35px;
        z-index: 50000;
    }
    
    div.in-progress{
        position: relative;
        top: -85px;
        left: 0px;
    }
}

@media (min-width: 1162px) and (max-width: 1565px){
    div.finalized{
        position: relative;
        left: -160px;
        top: 35px;
        z-index: 50000;
    }
    
    div.in-progress{
        position: relative;
        top: -85px;
        left: 0px;
    }
}

@media (min-width: 1391px) and (max-width: 1566px){

    div.finalized{
        position: relative;
        left: -160px;
        top: 35px;
        z-index: 50000;
    }
    
    div.in-progress{
        position: relative;
        top: -85px;
        left: 0px;
    }
}

@media(min-width: 1567px){

    div.finalized{
        position: relative;
        left: -160px;
        top: 35px;
        z-index: 50000;
    }
    
    div.in-progress{
        position: relative;
        top: 35px;
        left: -180px;
    }
}
